{% extends 'firstapp/basic.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}

{% block body %}
<div class="info">
<div class="container" style="text-align:center;">
<h1>Payment Success</h1>
<br>
<h3>Congratulations! You have successfully done the payment. Your order will reach to you in 5 days.</h3>
<a class="btn btn-primary btn-lg signup-button" href="{% url "generateinvoice" pk=id %}">Print Invoice</a>
</div>
</div>
{% endblock %}


{% block js %}
<script>

</script>
{% endblock %}