{% extends 'firstapp/basic.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}

{% block body %}
<div class="info">
<div class="container" style="text-align:center;">
<h1>Payment Failed</h1>
<h3>Sorry! Your payment has been failed. Please try again.</h3>
<br>
<p class="mainmessage">
In case your money has been deducted, money will be autorefunded in 7-10 days.
</p>
<br>
<p class="mainmessage">Thank You for choosing us. You can contact us for any queries or details.</p>
</div>
</div>
{% endblock %}


{% block js %}
<script>

</script>
{% endblock %}